<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" 
	bootstrap="tests/bootstrap.php"
	cacheDirectory="/home/morpheus/cache/phpunit"
	executionOrder="depends,defects"
	defaultTestSuite="Omega Test Suite"
	beStrictAboutOutputDuringTests="false"
	failOnRisky="true"
	failOnWarning="true" 
	testdox="true" 
	testdoxSummary="true" 
	colors="true"
	>
  	<testsuites>
    		<testsuite name="Omega Test Suite">
      			<directory>tests</directory>
    		</testsuite>
  	</testsuites>
	<php>
		<env name="APP_ENV" value="testing"/>
	</php>
  	<source>
    		<include>
      			<directory>src</directory>
			</include>
  	</source>
  	<coverage pathCoverage="true">
    		<report>
      			<html outputDirectory="/home/morpheus/cache/coverage-report"/>
    		</report>
  	</coverage>
  	<logging>
    		<testdoxHtml outputFile="/home/morpheus/cache/coverage-report/testdox.html"/>
  	</logging>
</phpunit>
